<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @position.title %>
</p>

<p>
  <b>Description:</b>
  <%= @position.description %>
</p>


<!-- Commented Out Below -->
<% #if false %>
<td class="main">
	<b>Users Assigned: <br></b>
	<% unless @position.users.empty? %>
		<ul>	
			<% @position.users.order("last_name").each do |user| %>
				<li><%=user.first_name%> <%=user.last_name %></li>	
			<% end %>
		</ul>
	<% end %>
</td>
<% #end %>


<%= link_to 'Edit', edit_admin_position_path(@position) %> |
<%= link_to 'Back', admin_positions_path %>
