<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @position.title %>
</p>

<p>
  <b>Description:</b>
  <%= @position.description %>
</p>

<p>
	<b>Permissions:</b>
	<ul>
		<%if @position.addEvents%>
			<li>Add Events</li>
		<% end %>
		<%if @position.addItems%>
			<li>Add Items</li>
		<%end%>
		<%if @position.addDuties%>
			<li>Add Duties</li>
		<%end%>
	</ul>
</p>

<td class="main">
	<b>Users Assigned: <br></b>
	<% unless @position.users.empty? %>
		<ul>	
			<% @position.users.order("last_name").each do |user| %>
				<li><%=user.first_name%> <%=user.last_name %></li>	
			<% end %>
		</ul>
	<% end %>
</td>



<%= link_to 'Edit', edit_admin_position_path(@position) %> |
<%= link_to 'Back', admin_positions_path %>
