
<h1>Listing duties</h1>
<div>

<% @permission = false %>
    <% current_user.positions.each do |pos|%>
    	<%if pos.addDuties == true%>
    		<%@permission = true %>
    	<% end %>
    <%end%>
    <% if current_user.admin == true%>
		<%@permission = true%>
	<%end%>


	Sort By:
	<%= sort_link @search, :title %> | 
	<%= sort_link @search, :deadline %> | 
	<%= sort_link @search, :assigner %> | 
	<%= sort_link @search, :status %>	


<br>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
 	<th>Deadline</th>
 	<th>Status</th>
    <th>Assigner</th>
    <th>Penalty</th>
  </tr>
<% @duties.each do |duty| %>
  <tr>
    <td><%= duty.title %></td>
    <td><%= duty.description %></td>
    <td><%= duty.deadline %></td>
    <td><%= @status[duty.status] %></td>
    <td><%= duty.assigned_user.first_name + " " + duty.assigned_user.last_name %></td>
    <td><%= duty.penalty %></td>
    
    
    <% if @permission == true	%>
    	<td><%= link_to 'Assign', assign_duty_path(duty)%></td>
    	<td><%= link_to 'Show', duty %></td>
    	<td><%= link_to 'Edit', edit_duty_path(duty) %></td>
    	<td><%= link_to 'Destroy', duty, confirm: 'Are you sure?', method: :delete %></td>
  	<%end%>
  </tr>
<% end %>
</table>

<br />

<% if @permission == true	%>
	<%= link_to 'New Duty', new_duty_path %>
<%end%>
</div>
<div id = "filter_duties_checkboxlist">
<br />
Search:
<br />
<%= form_for @search do |f| %>
	<p>
	<%= f.label :title_or_description_contains %>
	<%= f.text_field :title_or_description_contains %>	
	</br>
	<%= f.label :deadline_greater_than_or_equal_to, "Deadline Between"%>
	<%= f.date_select :deadline_greater_than_or_equal_to, {:include_blank => true, :default => nil } %>

	<%= f.label :deadline_less_than_or_equal_to, " and " %>
	<%= f.date_select :deadline_less_than_or_equal_to, { :include_blank => true, :default => nil }%>
	</br>
	</p>
	<p class="button"><%= f.submit "Search" %></p>
	<%end%>

</div>
