
<h1>Listing duties</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
 <!--     <th>Deadline</th>
    <th>Assignee</th>
    <th>Assigner</th>
    <th>Penalty</th>
    <th>Confirmation</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @duties.each do |duty| %>
  <tr>
    <td><%= duty.title %></td>
    <td><%= duty.description %></td>
 <!--     <td><%= duty.deadline %></td>
    <td><%= duty.assignee %></td>
    <td><%= duty.assigner %></td>
    <td><%= duty.penalty %></td>
    <td><%= duty.confirmation %></td> -->
    <td><%= link_to 'Show', duty %></td>
    <td><%= link_to 'Edit', edit_duty_path(duty) %></td>
    <td><%= link_to 'Destroy', duty, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Duty', new_duty_path %>
