
<h1>Listing duties</h1>
<br>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
 	<th>Deadline</th>
    <th>Assigner</th>
    <th>Penalty</th>
    <th>Confirmation</th>
  </tr>
<% @duties.each do |duty| %>
  <tr>
    <td><%= duty.title %></td>
    <td><%= duty.description %></td>
    <td><%= duty.deadline %></td>
    <td><%= duty.user.first_name + ' ' + duty.user.last_name %> </td>
    <td><%= duty.penalty %></td>
    <td><%= duty.confirmation %></td>
    <td><%= link_to 'Assign', assign_duty_path(duty)%></td>
    <td><%= link_to 'Show', duty %></td>
    <td><%= link_to 'Edit', edit_duty_path(duty) %></td>
    <td><%= link_to 'Destroy', duty, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Duty', new_duty_path %>
<div id = "filter_duties_checkboxlist">
<br />
Filter By:
<br />

<%= label_tag 'Assigned to me'%>
<%= check_box_tag "filter_duties[0]" %><br />
<%= label_tag 'Assigned to others'%>
<%= check_box_tag "filter_duties[1]" %><br />
<%= label_tag 'Active'%>
<%= check_box_tag "filter_duties[2]" %><br />
<%= label_tag 'Complete'%>
<%= check_box_tag "filter_duties[3]" %><br />
<%= label_tag 'Failed'%>
<%= check_box_tag "filter_duties[4]" %><br />
</div>
