<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @duty.title %>
</p>

<p>
  <b>Description:</b>
  <%= @duty.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @duty.deadline %>
</p>



<p>
  <b>Assigned to:</b>
  <% unless @duty.users.empty? %>
		<ul>
  			<%  @duty.users.order("last_name").each do |user| %>
				<li><%=user.first_name%> <%=user.last_name %></li>	
			<% end %>
		</ul>
	<% end %>
</p>

<p>
  <b>Assigned by:</b>
  <%= @duty.assigned_user.first_name + " "  + @duty.assigned_user.last_name %>
</p>



<p>
  <b>Penalty:</b>
  <%= @duty.penalty %>
</p>

<p>
  <b>Status:</b>
  <%= @status[@duty.status] %>
</p>


<%= link_to 'Edit', edit_duty_path(@duty) %> |
<%= link_to 'Back', duties_path %>
