<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @duty.title %>
</p>

<p>
  <b>Description:</b>
  <%= @duty.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @duty.deadline %>
</p>


<p>
  <b>Assigner:</b>
  <%= @duty.user.first_name + ' ' + @duty.user.last_name %>
</p>

<p>
  <b>Penalty:</b>
  <%= @duty.penalty %>
</p>

<p>
  <b>Confirmation:</b>
  <%= @duty.confirmation %>
</p>


<%= link_to 'Edit', edit_duty_path(@duty) %> |
<%= link_to 'Back', duties_path %>
