<h1>Inventory</h1>
<br>
<table class="Inventoryitem" border="1">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "cost" %></th>
    <th><%= sortable "count" %></th>
  </tr>
  <% @permission = false %>
    <% current_user.positions.each do |pos|%>
    	<%if pos.addItems == true%>
    		<%@permission = true %>
    	<% end %>
    <%end%>

    <% if current_user.admin == true%>
		<%@permission = true%>
	<%end%>
   
<% @inventoryitems.each do |inventoryitem| %>
  <tr>
    <td><%= inventoryitem.name %></td>
    <td><%= inventoryitem.cost %></td>
    <td><%= inventoryitem.count %></td>
   <% if @permission == true	%>
    	<td><%= link_to 'Edit', edit_inventoryitem_path(inventoryitem) %></td>
    	<td><%= link_to 'Destroy', inventoryitem, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
 <% if @permission == true	%>
	<%= link_to 'Add Item', new_inventoryitem_path %>
  <% end %>
