<h1>Inventory</h1>
<br>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Count</th>
  </tr>

<% @inventoryitems.each do |inventoryitem| %>
  <tr>
    <td><%= inventoryitem.name %></td>
    <td><%= inventoryitem.cost %></td>
    <td><%= inventoryitem.count %></td>
    <td><%= link_to 'Edit', edit_inventoryitem_path(inventoryitem) %></td>
    <td><%= link_to 'Destroy', inventoryitem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Item', new_inventoryitem_path %>
