<h1>Listing inventoryitems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventoryitems.each do |inventoryitem| %>
  <tr>
    <td><%= inventoryitem.name %></td>
    <td><%= inventoryitem.cost %></td>
    <td><%= inventoryitem.count %></td>
    <td><%= link_to 'Show', inventoryitem %></td>
    <td><%= link_to 'Edit', edit_inventoryitem_path(inventoryitem) %></td>
    <td><%= link_to 'Destroy', inventoryitem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventoryitem', new_inventoryitem_path %>
