<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inventoryitem.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @inventoryitem.cost %>
</p>

<p>
  <b>Count:</b>
  <%= @inventoryitem.count %>
</p>


<%= link_to 'Edit', edit_inventoryitem_path(@inventoryitem) %> |
<%= link_to 'Back', inventoryitems_path %>
