<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start Date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Formality Level</b>
  <%= @event.formality_lvl %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
