
<div id = "error">
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
</div>
<br />
<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= f.error_notification %>
	<%= f.input :email	%>

	<%= f.input :password%>
	
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>

  	<%= f.error :base %>
	<%= f.button :submit,  "Sign in" %>
<% end %>

<%= render "links" %>